.navItem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 1rem 2rem;
    background: var(--color-grey);

    &:first-of-type { border-top-left-radius: 12px; }
    &:last-of-type { border-top-right-radius: 12px; }
}

.active { background: var(--color-primary); }

.icon {
    font-size: 2.5rem;
    color: var(--color-text);
}