.sectionsSelect {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
}

.sectionOption { 
    height: 30px;
    margin-bottom: 1rem; 
}

.sectionOption + .sectionOption { margin-left: 1rem; }

.sectionOption__input { display: none; }

.sectionOption__label {
    padding: 0.5rem 1rem;
    border: 2px solid var(--color-primary);
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: bold;
}

.sectionOption__input:checked + .sectionOption__label {
    background: var(--color-primary);
}