@import '../../index.scss';

.manageForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
}

.manageForm__header {
    display: block;
    width: 100%;
    padding: 1rem 2rem 1rem 5rem;
}

.manageForm__input {
    @include basic-input;
    margin-bottom: 2rem;
}

.manageForm__button--add {
    @include button;
    @include button--primary;
    margin-bottom: 1rem;
}

.manageForm__button--clear {
    @include button;
    @include button--secondary;
}

.manageForm__panelButton {
    @include centered;
    width: 100%;
    padding: 1rem 0;
    margin-top: 4rem;
    background: var(--color-primary--opacity);

    & > button {
        @include button;
        @include button--secondary;
    }
}