.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1rem 2rem;
    background: var(--color-primary);
    color: var(--color-text);
    font-weight: 600;

    &__title { font-size: 2rem; }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }
}