@import '../../index.scss';

.sectionHeader {
    @include centered;
    width: 50%;
    margin: 0 auto 1.5rem auto;
    font-size: 1.8rem;
    font-weight: bold;

    &--small { font-size: 1.3rem; }

    &__name {
        margin: 0 5px;
        text-align: center;
    }

    &__line {
        flex: 1;
        height: 2px;
        background: var(--color-primary);
    }
}