@import '../../index.scss';

.account {
}

.field {
    @include listItem;
    width: 80%;
    // margin-bottom: 1.5rem;
    background: var(--color-grey);

    &__name {
        display: flex;
        flex-direction: column;
    }

    &__name > span:nth-child(2) {
        display: block;
        margin-top: 0.3rem;
        font-size: 1.3rem;
        font-weight: 500;
    }

    &__icon {
        font-size: 2.2rem;
    }
}