:root {
    --color-primary: #F4C70B;
    --color-grey: #F6F0EE;
    --color-background: #FFFAF9;
    --color-text: #2E2D2C;
    --color-success: #3E981E;
    --color-error: #CA4836;
    --border-radius: 10px;
}
  
*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--color-primary);
    color: var(--color-text);
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
// ------------------------------------------------
// ---------------------COMMON---------------------
// ------------------------------------------------
.page {
    min-height: calc(100vh - 45px);
    padding: 2rem;
    margin-top: 4.4rem;
    background: var(--color-background);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

@mixin basic-input {
    padding: 0.6rem 2rem;
    border-radius: var(--border-radius);
    color: var(--color-text);
    background: var(--color-background);
    border: 2px solid var(--color-primary);

    &:focus {
        outline: none;
        background: var(--color-grey);
    }
}

@mixin centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button {
    width: 20rem;
    padding: 0.6rem 2rem;
    border-radius: var(--border-radius);
    color: var(--color-text);
    font-size: 1.4rem;
    font-weight: bold;

    & a {
        color: var(--color-text);
        text-decoration: none;
    }
}

@mixin button--primary {
    background: var(--color-primary);
        border: 2px solid var(--color-primary);
}

@mixin button--secondary {
    background: var(--color-background);
    border: 2px solid var(--color-primary);
}