:root {
    --color-primary: #F4C70B;
    --color-primary--opacity: rgba(244, 197, 11, 0.3);
    --color-grey: #F6F0EE;
    --color-background: #FFFAF9;
    --color-text: #2E2D2C;
    --color-success: #3E981E;
    --color-error: #CA4836;
    --border-radius: 10px;
}
  
*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--color-primary);
    color: var(--color-text);
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
// ------------------------------------------------
// ---------------------COMMON---------------------
// ------------------------------------------------
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 44px);
    padding: 2rem 0;
    margin-top: 4.4rem;
    background: var(--color-background);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.page > .info {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 80px);
    font-size: 2rem;
    font-weight: bold;
}

@mixin basic-input {
    padding: 0.6rem 2rem;
    border-radius: var(--border-radius);
    color: var(--color-text);
    background: var(--color-background);
    border: 2px solid var(--color-primary);

    &:focus {
        outline: none;
        background: var(--color-grey);
    }
}

@mixin centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button {
    width: 20rem;
    padding: 0.6rem 2rem;
    border-radius: var(--border-radius);
    color: var(--color-text);
    font-size: 1.4rem;
    font-weight: bold;

    & a {
        color: var(--color-text);
        text-decoration: none;
    }
}

@mixin button--primary {
    background: var(--color-primary);
        border: 2px solid var(--color-primary);
}

@mixin button--secondary {
    background: var(--color-background);
    border: 2px solid var(--color-primary);
}

@mixin listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 1.4rem;
    margin-bottom: 1rem;
    border-radius: 1.2rem;
    font-size: 1.5rem;
    font-weight: bold;
}
// ------------------------------------------------
// -----------------CONFIRM ALERT------------------
// ------------------------------------------------
.react-confirm-alert-svg {
    display: none;
  }
  
  .react-confirm-alert {
    position: absolute;
    width: 80vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 2px;
    background-color: rgba(245, 245, 245, 0.9);
    padding: 3rem;
  }
  
  .react-confirm-alert-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100vw;
    height: 100vh;
    background-color: rgba(45, 45, 45, 0.7);
    z-index: 100;
  }
  
  .react-confirm-alert-body {
    & h1 {
        display: block;
        text-align: center;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 3rem;
    }
  }
  
  .react-confirm-alert-button-group {
    display: flex;
    justify-content: center;
  
    & button {
      padding: 1rem 2rem;
      border: none;
      border-radius: 2px;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: all 0.4s ease-in;
      color: var(--color-item-background-primary);
      background-color: var(--color-primary);
    }
  
    & button:first-child {
      margin-right: 2rem;
    }
  }